@font-face {
    font-family: "Inter";
    font-style: normal;
    font-size: 400;
    src: url(../fonts/inter-400.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-size: 700;
    src: url(../fonts/inter-700.woff2) format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-size: 900;
    src: url(../fonts/inter-900.woff2) format(woff2);
    font-display: swap;
}

body {
    font-family: "Inter", sans-serif;

    font-size: 16px;
    line-height: 22px;
}
